# Dependencies
node_modules/
**/node_modules/

package-lock.json
package.json

# Environment variables
.env
**/.env
!.env.example

# Uploaded files
uploads/
**/uploads/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/node_modules/
.env


